{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <h1>{% trans %}Currency Exchange Rate for {% endtrans %}{{ bank.name }}</h1>
            <div class="banks">
                <ul>
                    {% for rates in rate %}
                        <table>
                            <thead>
                                <tr>
                                    <th>{% trans %}CURRENCY FROM{% endtrans %}</th>
                                    <th>{% trans %}CURRENCY TO{% endtrans %}</th>
                                    <th>{% trans %}CONVERT RATE{% endtrans %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ rate.currencyFrom }}</td>
                                    <td>{{ rate.currencyTo }}</td>
                                    <td>{{ rate.rate }}</td>
                                </tr>
                            </tbody>
                         </table>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
        #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
        #container { padding: 2em; }
        @media (min-width: 768px) {
            #wrapper { width: 80%; margin: 2em auto; }
            #icon-book { display: inline-block; }
            #status a, #next a { display: block; }

            @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
            @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
            .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
        }
    </style>
{% endblock %}
